.border {
  border: solid thin gray;
  padding: 10px;
  margin: 10px;
}

.game {
  width: fit-content;
  margin: auto;
}

.game-buttons {
  font-size: 30px;
}

.game-buttons:hover {
  cursor: pointer;
}

.game-status {
  display: flex;
  font-size: 30px;
  height: 50px;
}

.game-status > div {
  margin: auto;
}

.heading {
  font-size: 50px;
  text-align: center;
}

.level-buttons {
  border: solid thick;
  border-radius: 3px;
  font-size: inherit;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
}

.level-buttons > div {
  padding: 1vw;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.start-button {
  animation: pulse 1.5s infinite;
  border: solid thick green;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  flex-grow: 1;
  font-size: inherit;
  font-weight: 600;
  margin-right: 30px;
  text-align: center;
  transform: scale(1);
}

.timer {
  margin-right: 10px;
  padding-right: 10px;
  text-align: center;
}

.timer:hover {
  cursor: default;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
